.signup__form {
    margin-bottom: 200px;
}

.invalid {
    border-color: var(--color-main-accent) !important;
}

.registration-error {
    color: var(--color-main-accent);
}

.registration-success {
    color: #0a4b78;
}

#login_error_message {
    display: none;
    color: var(--color-main-accent);
}

#login_error_message_mobile {
    display: none;
    color: var(--color-main-accent);
}

.repair_email {
    grid-column: 1 / 4 !important;
}

.signup__form span {
    line-height: 24px;
}

.form-message-wrapper {
    width: 100%;
    margin-bottom: 50px;
}