/*
Theme Name: vagonka
Theme URI:
Author: https://page.ua/
Author URI: 
Description:
Requires at least: 5.9
Tested up to: 5.9
Requires PHP: 5.6
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vagonka
Tags:
@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/*.woocommerce-info {
    border-top-color: #1e85be !important;
    color: var(--color-main-accent) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    text-align: right !important;
    cursor: pointer !important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em !important;
    margin: 0 0 2em !important;
    position: relative !important;
    background-color: none !important;
    color: #515151 !important;
    border-top: none !important;
    list-style: none outside !important;
    width: auto !important;
    word-wrap: break-word !important;
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
	display: none !important;
}*/
.wcus-checkout-fields {
	display: blok !important;
}